<div class="text-center">
    @if (User.IsInRole(GlobalConstants.Administator.AdministratorRoleName))
    {
        <div class="form-group">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary btn-lg">Create category</a>
        </div>
        <div class="form-group">
            <a asp-controller="Administrator" asp-action="EditCategories" class="btn btn-primary btn-lg">Edit categories</a>
        </div>
        <div class="form-group">
            <a asp-controller="Administrator" asp-action="EditPosts" class="btn btn-primary btn-lg">Edit posts</a>
        </div>
        <div class="form-group">
            <a asp-controller="Administrator" asp-action="Users" class="btn btn-primary btn-lg">Users</a>
        </div>
    }
</div>
