@using Forum.Models.Category
@model CategoryViewModel

<h3>@Model.Name</h3>

@foreach(var post in Model.Posts)
{
    <div class="media-body">
        <h4 class="media-heading"><a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">@post.Tittle</a></h4>
    </div>
}