@using Forum.Models.Category
@model CategoryViewModel

<h1>@Model.Name</h1>

@foreach(var post in Model.Posts)
{
    <a asp-controller = "Post" asp-action = "Details" asp-route-Id = "@post.Id">@post.Tittle</a>
}